* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  border-bottom: #087f5b 8px solid;
  margin: auto;
}
.container {
  /*margin-top: 30px;*/
  width: 960px;
  margin: auto;
}
.main-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 80px;
  margin-top: 48px;
  /*align-items: center;*/
}
.hero {
  height: 440px;
  width: 440px;
}

.heading {
  font-family: sans-serif;
  font-size: 45px;
  margin-top: 46px;
  margin-bottom: 24px;
  color: #343a40;
  font-weight: bold;
}
.impact {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
} /*
a:link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 16px;
  font-family: sans-serif;
}*/
.second-heading {
  /*margin-top: 0;*/
  margin-bottom: 45px;
  font-family: sans-serif;
  color: #343a40;
  font-size: 36px;
}

.headind-sections {
  margin-bottom: 15px;
  font-weight: bold;
  font-family: sans-serif;
  color: #343a40;
}

.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 40px;
  column-gap: 80px;
  margin-bottom: 45px;
  background-color: #087f5b;
  border-radius: 15px;
  width: 960px;
}
.section-4 {
  align-items: center;
  align-self: center;
}
.author-comment2 {
  margin-bottom: 30px;
  font-size: 18px;
  font-style: italic;
  font-family: sans-serif;
}
.author-comment1 {
  margin-bottom: 30px;
  font-size: 16px;
  font-style: normal;
  font-family: sans-serif;
}
.footer1 {
  font-size: 18px;
  font-family: sans-serif;
}

.chair {
  height: 222px;
  width: 266px;
}
.chair-1 {
  margin-top: 0px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 40px;
  column-gap: 80px;
  margin-top: 50px;
  margin-bottom: 40px;
}
.last-heading {
  font-size: 32px;
  font-family: sans-serif;
  color: #343a40;
  margin-top: 80px;
}

li:first-child {
  font-weight: bold;
  font-size: 21px;
}
li {
  line-height: 1.5;
  font-size: 17px;
  list-style: none;
  margin-top: 15px;
  margin-left: 20px;
  font-family: sans-serif;
}
/*li:last-child {
  font-weight: bold;*/

.linkcart {
  margin-left: 65px;
  font-size: 15px;
  background-color: #087f5b;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  border-radius: 100px;
  padding: 5px;
}
.section3 {
  align-items: center;
  align-self: center;
}
.section-2 {
  grid-column-start: 2;
  grid-column-end: -1;
  align-self: center;
}
.hero {
  border-radius: 15px;
  /*margin-top: 25px;*/
}
.shop-chair {
  background-color: #087f5b;
  border-radius: 30px;
  font-size: 18px;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  font-family: sans-serif;
}
.features-icon {
  stroke: #087f5b;
  width: 32px;
  heigh: 32px;
  margin-bottom: 24px;
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 80px;
  align-self: center;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 60px;
}
.chair {
  border-radius: 15px 15px 0 0;
}
.customers {
  height: 222px;
  width: 266px;
  padding: 25px;
  border-radius: 40px;
}
.chair-icon {
  stroke: #087f5b;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  position: relative;
  top: 8px;
}
li:last-child {
  font-weight: bold;
  font-size: 18px;
}
.chair-details {
  display: flex;
  /* flex-basis: auto; */
  flex-direction: column;
}
.linkcart {
  position: relative;
  box-sizing: content-box;
  top: 2px;
  left: 36px;
}
li {
  align-self: flex-start;
}
